<div class="row">
  <h2 class="col text-center">Stock Ticker</h2>
</div>
<div class="row heading">
    <div class="col-3"id="">
      <h2>Stock</h2>
    </div> 
    <div class="col-5"id="">
      <h2>Price</h2>
    </div> 
    <div class="first col-4"id="">
      <h2>After hours</h2>
    </div>
</div>
</div>

