<div class="row">
  <h2 class="col text-center">Stock Ticker</h2>
</div>
<div class="row">
    <div class="col-2 text-righ"id="">
      <p>Name</p>
    </div> 
    <div class="col-2 text-left"id="">
      <p>Price</p>
    </div> 
    <div class="col-5 text-right"id="">
      <p>6 Week Average</p>
    </div>
    <div class="col-3 text-left"id="">
      <p>Recommendation</p>
    </div>
        
</div>

