<div class= "header"></div>
        <span class="close">&times;</span>
      <div class="input-group mb-3 d-flex">
        <input type="text" class="form-control" placeholder="Search for stocks..." aria-label="Seach for stocks.." aria-describedby="search-bar">
          <button class="input-group-text" id="search-bar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
      </button>
      </div>

<div class="row">
  <h2 class="col text-center">Stock Ticker</h2>
</div>
<div class="row heading">
    <div class="col-3"id="">
      <h2>Stock</h2>
    </div> 
    <div class="col-5"id="">
      <h2>Price</h2>
    </div> 
    <div class="first col-4"id="">
      <h2>After hours</h2>
    </div>
</div>
</div>

{{#each stock}}
    <div class="second row">
       <div class="col-4">
        <h3>{{name}}</h3>
        </div>
      <div class="col-4">
      <h3>{{price}}</h3>
      </div>
       <div class="col-4">
      <h3>{{percent}}</h3>
       </div>
   </div>
   {{/each}}
