
<div class="row">
  <h2 class="col text-center ticker">Stock Ticker</h2>
</div>
<div class="container">

<div class="row heading">
    <div class="col-3 text-right"id="">
      <h2>Stock</h2>
    </div> 
    <div class="col-5 text-left"id="">
      <h2>Position</h2>
    </div> 
    <div class="first col-4 text-left"id="">
      <h2>Shares</h2>
    </div>
</div>


{{#each users as |user|}}
    <div class="row border stockCard">
       <div class=" text col-3 text-right">
        <P>{{user.stock}}</p>
        </div>
      <div class=" text col-5 text-left">
      <p>{{user.position}}</p>
      </div>
       <div class=" text col-2 text-left">
      <p>{{user.shares}}</p>
       </div>
       <div class=" col-2">
      <button class="bi bi-x-square-fill deleteBtn">X</button>
      </div>
      </div>

   {{/each}}

   <!-- Button trigger modal -->
<div id="addStockDiv">
<button type="button" class="btn btn-primary addStock" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Stock to Portfolio
</button>
</div> 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Stocks to Portfolio</h5>
      </div>
      <div class="modal-body">
        <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Stock Symbol</label>
    <input type="email" class="form-control" id="stockSymbol">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Purchase Price</label>
    <input type="text" class="form-control" id="purchasePrice">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Amount of Shares</label>
    <input type="text" class="form-control" id="shareAmount">
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addBtn">Add to Portfolio</button>
      </div>
    </div>
  </div>
</div>

   </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="./js/index.js"></script>
